{% extends 'layout.html.twig' %}

{% block title %}Vista proveedor{% endblock %}

{% block body %}

<meta charset="UTF-8" />

	{{ parent() }}
	<div class="container well">
	    <div class="col-md-9">
	    <h2>{{ prov.empresa }}</h2>
	        <br>
	        <dl>
	        
	            
	       		<dt>CIAL</dt>
	            <dd>
	                {{ prov.cial}}
	                &nbsp;
	            </dd>
	            <br>
	        
	            <dt>Dirección</dt>
	            <dd>
	                {{ prov.direccion }}
	                &nbsp;
	            </dd>
	            <br>
	            
	             <dt>Teléfono</dt>
	            <dd>
	                {{ prov.telefono }}
	                &nbsp;
	            </dd>
	            <br>

	            <dt>Email</dt>
	            <dd>
	                {{ prov.email }}
	                &nbsp;
	            </dd>
	            <br>
	            
	            <dt>Descripción</dt>
	            <dd>
	                {{ prov.descripcion}}
	                &nbsp;
	            </dd>
	            <br>
	     
	        </dl>
	    </div>
	    <div class="col-md-3">
	    	<h3>Acciones</h3>
			<p>
		    	<a href="{{ path('evo_proveedores_edit', { id: prov.id }) }}" class="btn btn-primary btn-lg btn-block">
		    		<span class="glyphicon glyphicon-edit"></span>
		        	Editar Proveedores
				 </a>
			</p>
			<p>
			    {{ include('EVOUserBundle:Proveedores:forms/form.html.twig', { form: delete_form, message: '¿Estás seguro?'}) }}
			</p>
	    </div>
	</div>
	
	
	<STYLE TYPE="text/css" MEDIA=screen>

  .footer-distributed{ margin-top: 100px;  }
 
</STYLE>
{% endblock %}